* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Quicksand",sans-serif;
    color: #282828;
    line-height: 1.7;
}

/* Dùng chung */
.mw-1140 {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

/* ---- */
#container {

}
/* --- */

/* header */
.header-border {
    border-bottom: 1px solid #EBEBEB;
}

#header .header-nav{
    /* height: 45px; */
    background-color: #4d8a54;
}

#header .header_nav {
    height: 45px;
    display: flex;
    flex-direction: row;
    color: #fff;
    /* padding-right: 15px;
    padding-left: 15px; */
}

#header .nav_contact {
    width: 50%;
    line-height: 45px;
}

#header .nav-phone {
    font-size: 20px;
    margin-bottom: -6px;
    margin-right: 4px;
}

#header .nav_contact a {
    text-decoration: none;
    color: #fff;
}

#header .nav_contact p {
    font-weight: 400;
}

#header .nav_menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    line-height: 45px;
    justify-content: flex-end;
}

#header .nav_menu-search {
    /* margin-right: 20px; */
}

#header .nav_search {
    height: 35px;
    width: 220px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    padding: 0 40px 0 15px;
    font-family: "Quicksand",sans-serif;
    outline: none;
    /* margin-right: 10px; */
}

#header .nav-search {
    margin-left: -35px;
    /* z-index: 1; */
    color: #282828;
    font-size: 16px;
    line-height: 45px;
    /* display: inline-block; */
    margin-bottom: -2px;
}

#header .nav_account,
#header .nav_bag {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: -5px;
}

#header .nav-account,
#header .nav-bag {
    font-size: 25px;
    margin-bottom: -8px;
    margin-left: 40px;
    font-weight: 400;
}

#header .nav_quantity {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #4d8a54;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    padding: 2px;
    display: inline-block;
    text-align: center;
    margin-bottom: -20px;
    margin-left: -15px;
}

#header .header_menu {
    display: flex;
    justify-content: space-between;
    height: 125px;
    /* padding-right: 15px;
    padding-left: 15px; */
}

#header .header_menu ul {
    display: inline-block;
}

#header .header_menu ul li {
    display: inline-block;
    line-height: 125px;
    margin: 0 15px;
}

#header .menu_left li:first-child a {
    color: #4d8a54;
}

#header .header_menu li:hover a {
    color: #4d8a54;
}

#header .header_menu li a {
    text-decoration: none;
    color: #282828;
    font-weight: 700;
    font-size: 16px;
}

#header .menu_left {
    margin-left: -15px;
}

#header .menu-down {
    font-size: 12px;
    margin-bottom: -1px;
}

#header .menu_logo {
    width: 203px;
    height: 93px;
    align-self: center;
}

#header .menu_right {
    margin-right: -15px;
}
/* --- */

/* main */
#main {
    
}

#main .banner {
    /* margin-bottom: 83px; */
}

#main .banner img {
    width: 100%;
    /* margin-top: 125px; */
    margin-bottom: -9px;
}

#main .main_content_1 {
    text-align: center;
    margin-top: 83px;
    /* padding-right: 15px;
    padding-left: 15px; */
}

#main .content-logo {
    margin-bottom: -5px;
}

#main .content_1-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -20px;
    letter-spacing: -2px;
}

#main .content_1-list-product {
    margin-top: 70px;
    display: flex;
    margin-bottom: 75px;
    /* justify-content: space-between; */
}

#main .content_1-product {
    width: 25%;
    padding: 0 15px;
    text-align: center;
}

#main .content_1-product-photo {
    margin-bottom: 10px;
}

#main .content_1-product-name {
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
}

#main .main_content_2 {
    background: url(../img/content-2/bg_why.webp) top center/ cover no-repeat;
    padding: 90px 0 150px 0;
    height: 853px;
}

#main .content-2 {
    display: flex;
}

#main .content-2-right {
    margin-top: -9px;
    width: 50%;
    /* padding-right: 15px;
    padding-left: 15px; */
}

#main .content-2-title {
    margin-left: 130px;
}

#main .content-2-description {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
}

#main .content-2-evaluate {
    display: flex;
    margin-bottom: 30px;
}

#main .content-2-photo {
    width: 54px;
    height: 54px;
}

#main .content-2-evaluate-description {
    margin-left: 20px;
}

#main .content-2-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

#main .content-2-paragraph {
    font-size: 18px;
    font-weight: 500;
    padding-right: 115px;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 10px;
}

#main .main_content_3 {
    text-align: center;
    margin-top: 81px;
}

#main .content_3-list {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 16px;
}

#main .content_3-list li {
    list-style-type: none;
    border: 1px solid #ebebeb;
    font-size: 18px;
    font-weight: 700;
    padding: 0 26px;
    height: 50px;
    line-height: 49px;
    border-radius: 30px;
    margin: 0 8px;
}

#main .content_3-list a {
    text-decoration: none;
    color: #282828;
}

#main .conetent_3-list-product {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

#main .content_3-product {
    width: 25%;
    margin: 0 15px;
}

#main .content_3-product-img {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-bottom: -8px;
}

#main .content_3-description {
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

#main .content_3-heading {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}

#main .content_3-price {
    font-size: 18px;
}

#main .content_3-money {
    font-weight: 700;
}

#main .main_content_4 {
    margin-top: 90px;
    display: flex;
}

#main .content_4-right {
    max-width: 58.333333%;
    padding: 71px 56px 96px 65px;
    background: #4d8a54;
    min-height: 443px;
    color: #fff;
    position: relative;
}

#main .content_4-logo {
    margin-left: 100px;
}

#main .content_4-description {
    /* margin-top: 10px; */
    margin-bottom: 25px;
    font-weight: 500;
}

#main .content_4-time {
    font-size: 18px;
    font-weight: 700;
}

#main .content_4-btn {
    border-radius: 30px;
    color: #4d8a54;
    background: #fff;
    padding: 0 32px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 23px;
    border: 1px solid transparent;
    display: inline-block;
    text-decoration: none;
}

#main .content_4-btn:hover {
    background: #4d8a54;
    color: #fff;
    border: 1px solid #fff;
}

#main .content_4-photo {
    position: absolute;
    bottom: 0;
    right: 10px;
}

#main .content_4-img {
    background-image: url(../img/content_4-img/banner_time_open.webp);
    width: 486px;
    height: 420px;
    margin-top: 12px;
    margin-left: -15px;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 486px;
    height: 420px; */
    background-position: right;
    z-index: -1;
}

#main .main_content_5 {
    margin-top: 101px;
    /* text-align: center; */
}

#main .content_5-header {
    text-align: center;
    margin-bottom: 40px;
}

#main .content_5_information {
    display: flex;
    margin-right: -30px;
}

#main .content_5-news {
    width: 360px;
    margin-right: 30px;
}

#main .content_5-img {
    width: 100%;
    margin-bottom: -7px;
}

#main .content_5-description {
    margin-top: 12px;
}

#main .content_5-heading {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: normal;
    word-spacing: 2px;
}

#main .content_5-paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 15px;
}

#main .main_content_6 {
    margin-top: 70px;
    display: flex;
}

#main .content_6-img {
    width: 20%;
}
/* --- */

/* footer */
#footer {
    background-image: url(/assets/img/footer/bg_footer.webp);
    height: 510px;
    padding: 95px 0 0 0;
}

#footer .footer_content-top {
    margin-top: 90px;
}

#footer .footer_content {
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
}

#footer .footer_content_1 {
    width: 33.3333%;
    padding: 0 15px;
    margin-left: -15px;
}

#footer .footer_content_1-logo {

}

#footer .footer_content_1-description {
    margin: 27px 0 15px;
    font-size: 16px;
}

#footer .footer_content_1-social a {
    display: inline-block;
    color: #4d8a54;
    width: 30px;
    height: 30px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
}

#footer .footer_content_1-social a:hover {
    background: #fff;
}


#footer .footer_content_2 {
    width: 33.3333%;
    padding: 0 15px;
}

#footer .footer_content_2-heading {
    margin-top: 70px;
    color: #4d8a54;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

#footer .footer-icon {
    height: 25px;
    width: 25px;
    margin-top: 3px;
    color: #4d8a54;
    margin-right: 10px;
}

#footer .footer_content_2-description {
    display: flex;
    width: 360px;
    margin-bottom: 15px;
}

#footer .footer_content_2-description span:nth-child(2) {
    margin-left: 10px;
}

#footer .footer_content_2-contact {
    display: flex
}

#footer .footer_content_2-contact .footer-icon {
    text-align: left;
}

#footer .footer_content_3 {
    width: 33.3333%;
    padding: 0 15px;
    margin-left: -15px;
}

#footer .footer_content_3-form {
    display: flex;
}

#footer .content-form {
    border: none;
    border-radius: 30px;
    height: 60px;
    padding: 0 160px 0 20px;
    width: 100%;
    font-size: 16px;
}

#footer .content-btn {
    font-weight: bold;
    font-size: 16px;
    height: 60px;
    border-radius: 30px;
    background-color: #4d8a54;
    color: #fff;
    min-width: 151px;
    text-transform: uppercase;
    margin-left: -150px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}

#footer .footer_copyright {
    margin-top: 70px;
    border-top: 1px #474747 solid;
    color: #aeaeae;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    font-weight: 600;
}
/* --- */

.content-heading {
    font-weight: 500;
    line-height: 24px;
    padding: 15px 0px;
    margin-bottom: 30px;
}

.content-heading span {
    color: #4d8a54;
}

/* Giới thiệu */

#content {

}

.content-heading {
    font-weight: 500;
    line-height: 24px;
    padding: 15px 0px;
    margin-bottom: 30px;
}

.content-heading span {
    color: #4d8a54;
}

#content .content-description {
    margin-bottom: 46px;
}

#content .content-description p {
    margin-top: 15px;
}

/* sản phẩm */

#product {

}

#product .product_heading {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    margin-bottom: 15px;
}

#product .product_all {
    display: flex;
    flex-direction: column;
}

/* list product chung */

.product_list {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 57px;
}

.product_list-top {
    margin-top: 70px;
}

.product_infomation {
    width: 25%;
    margin: 0 15px;
    text-align: center;
}

.product_img {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-bottom: -7px;
    height: 263px;
}

.product_description {
    padding: 20px 30px 0 30px;
}

.product_description-name {
    margin: 0px 0 3px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}

.product_desciption-money {
    font-size: 18px;
}

/*  end list product */

#product .product_page {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 57px;
}

#product .product_page-number {
    font-weight: 700;
    border-radius: 5px;
    width: 41px;
    background: #f6f6f6;
    border: solid 1px #ebebeb;
    text-align: center;
    height: 41px;
    font-size: 19px;
    padding: 0;
    line-height: 41px;
    color: #282828;
    text-decoration: none;
    display: inline-block;
}

#product .product_page-number:first-child {
    background-color: #4d8a54;
    color: #fff;
}

#product .product_page-number:hover {
    background-color: #4d8a54;
    color: #fff;
}

#product .product_icon {
    font-size: 17px;
    margin-bottom: -2px;
}

/* Detail - chi tiết sản phẩm */
#detail {
    
}

#detail .detail-product {
    background-image: url(/assets/img/background/bg-top-product.webp);
    /* background: url(/assets/img/background/bg-top-product.webp) top center/ cover no-repeat; */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fcfbfc;
}

#detail .detail-photo {
    display: flex;
    flex-direction: column;
    width: 480px;
}

#detail .detail-img {
    border: 1px #ebebeb solid;
}

#detail .detail-photo-new {
    display: flex
}

#detail .detail-photo-new img {
    width: 84px;
    border: 1px solid #EBEBEB;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#detail .detail-main {
    display: flex;
}

#detail .detail-content {
    margin-left: 70px;
    width: 100%;
}

#detail .detail-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: -4px;
}

#detail .detail-content-description {
    font-style: italic;
    font-weight: 410;
}

#detail .detail-price {
    font-size: 16px;
    font-weight: 500;
}

#detail .detail-price span {
    font-size: 24px;
    color: #4d8a54;
    font-weight: 700;
}

#detail .detail-quantity {
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 25px;
}

#detail .detail-quantity span {
    border: 1px solid #EBEBEB;
    padding: 4px 12px;
}

#detail .detail-quantity span:first-child {
    margin-left: 20px;
}

#detail .detail-btn {
    margin-bottom: 27px;
}

#detail .detail-btn a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #4d8a54;
    text-align: center;
    border-radius: 30px;
    border: solid 1px #4d8a54;
    height: 48px;
    display: inline-block;
    line-height: 48px;
    width: calc(100% / 2 - 53px);
    margin-right: 20px;
    margin-bottom: 10px;
}

#detail .detail-btn a:hover,
#detail .detail-btn a:last-child {
    color: #fff;
    background-color: #4d8a54;
}

#detail .detail-ship {
    font-size: 16px;
}

#detail hr {
    margin-bottom: 15px;
}

#detail .detail-ship span {
    font-weight: 700;
}

#detail .detail-description {
    margin-top: 50px;
    margin-bottom: 200px;
}

#detail .detail-dsc-heading span {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
    display: inline-block;
    text-transform: uppercase;
}

#detail .detail-dsc-heading span:first-child {
    border-bottom: 2px solid #4d8a54;
}

#detail .detail-description p {
    font-size: 15px;
    padding-bottom: 15px;
}

/* Thực đơn */
#menu {
    margin-top: 36px;
}

#menu .menu_description {
    text-align: center;
}

#menu .menu_description-title {
    margin-bottom: -5px;
}

#menu .menu_description_heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -20px;
    letter-spacing: -2px;
}

#menu .menu_description-paragraph {
    padding: 0 195px;
    font-size: 16px;
    font-weight: 500;
    margin-top: -5px;
}

#menu .menu_icon {
    text-align: right;
    margin-right: -5px;
    margin-bottom: 20px;
}

#menu .menu_icon a {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ebebeb;
    font-size: 16px;
    color: #282828;
    margin-right: 5px;
}

#menu .menu_icon a:hover {
    background-color: #4d8a54;
    color: #fff;
}

#menu .icon-menu {
    margin-bottom: -4px;
}

#menu .menu_list-top {
    margin-top: 120px;
}


